@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

#info_background
{
	-fx-background-color: white;
	-fx-font-family: 'Abril Fatface', cursive;
	
}

#table_background
{
	-fx-font-size: 1.5em;
}

.column
{
	-fx-alignment: center;	
}