/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
/*
 * 녹색 전체 폼
 */
#login_background
{
	-fx-font-family: 'Abril Fatface', cursive;
	-fx-font-size: 16px;
	-fx-background-image: url('images/Login.png');
	-fx-background-repeat: none;
	-fx-background-size: 1002;
	-fx-text-fill: gray;
}
/*
 * 라벨 설정
 */
Label
{
	
	-fx-font-size: 1.4em;
	-fx-font-weight:bold;
	-fx-text-fill: black;
}
/*
 * 라벨 설정
 */
#login_btn
{
	
	-fx-text-fill: white;
	-fx-font-size: 20px;
	
}
/*
 * 링크 설정
 */
#link
{
	-fx-text-fill: black;
}
#link:hover
{
	-fx-text-fill: red;
}

/*
 * 텍스트 필드, 패스워드 필드
 */
TextField,PasswordField
{
	-fx-padding: 3px 3px 3px 20px;
	/*-fx-border-radius: 20;
	-fx-background-radius: 20;
	*/
	-fx-background-insets: 0;
	-fx-border-width: 0px 0px 2px 0;
    -fx-border-color: transparent transparent black transparent;
    -fx-background-color: -fx-control-inner-background;
    -fx-background-insets: 0;
}
TextField:focused, PasswordField:focused
{
	/* 
	-fx-background-color: #cccccc;
	*/
	-fx-border-color: #33adff; 
}
/*
 * 버튼
 */
Button
{

	-fx-background-size: 200;
    -fx-font-weight: bold;
    -fx-background-color: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 ); 
}

Button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

