Button
{
	-fx-text-fill: white;
	-fx-background-size: 200;
    -fx-font-weight: bold;
    -fx-background-color: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 ); 
}

Button:hover {
      -fx-background-color: linear-gradient(#304352, #d7d2cc);
}